{% extends "layout.html" %}

{% block content %}

<body>
    <div class = "container">
        <br>
        <br>
        <br>
        <br>
        <div class = "row">
            <div class = 'col-md-1'></div>
            <div class = 'col-md-10'>
                <h4>Conversation you could have in {{language}} when {{topic}}:</h4>
                
            </div>
            <div class = 'col-md-1'></div>
        </div>
        <br>
        <div class = "row">
            <div class = 'col-md-1'></div>
            <div class = 'col-md-10'>
                
                <div class="form-group">
                    <textarea class="form-control" id="inputText" rows="10">{{results}} </textarea>
                    
                </div>
               

                
                <form method="POST" action="/generate">
                    <div class = 'invisible'>
                        <input type = 'text' name = 'language' value = '{{language}}'>
                        <input type = 'text' name = 'topic' value = '{{topic}}'>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">Generate</label>
                        </div>
                    </div>
                    <center>
                        <button type="regenerate" class="btn btn-secondary">Re-generate</button>
                    </center>
                </form>
            </div>
            <div class = 'col-md-1'></div>
            
        </div>
    </div>
</body>
            

{% endblock %}
